@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

* {
	margin: 0px;
	padding: 0px;
	border: none;
}

body {
	background: #000000;
	color: white;
	font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(20,74,79,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(20,74,79,0.4);
}

#intro {
	position: absolute;
	overflow: hidden;
}

#triangle-1 {
	width: 366px;
	height: 664px;
	background: url(../imgs/triangles/triangle_1.png);
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#triangle-2 {
	width: 577px;
	height: 384px;
	background: url(../imgs/triangles/triangle_2.png);
	position: absolute;
	top: 0px;
	left: 0px;
}

#triangle-3 {
	width: 368px;
	height: 667px;
	background: url(../imgs/triangles/triangle_3.png);
	position: absolute;
	top: 0px;
	right: 0px;
}

#triangle-4 {
	width: 835px;
	height: 667px;
	background: url(../imgs/triangles/triangle_4.png);
	position: absolute;
	top: 0px;
	left: 182px;
}

#triangle-5 {
	width: 1022px;
	height: 204px;
	background: url(../imgs/triangles/triangle_5.png);
	position: absolute;
	top: 0px;
	right: 0px;
}

#triangle-6 {
	width: 809px;
	height: 462px;
	background: url(../imgs/triangles/triangle_6.png);
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#triangle-7 {
	width: 1022px;
	height: 666px;
	background: url(../imgs/triangles/triangle_7.png);
	position: absolute;
	top: 0px;
	left: -250px;
}

#triangle-8 {
	width: 836px;
	height: 666px;
	background: url(../imgs/triangles/triangle_8.png);
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#triangle-9 {
	width: 182px;
	height: 666px;
	background: url(../imgs/triangles/triangle_9.png);
	position: absolute;
	top: 0px;
	left: 0px;
}

#triangle-10 {
	width: 816px;
	height: 277px;
	background: url(../imgs/triangles/triangle_10.png);
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#intro-logo {
	width: 927px;
	height: 664px;
	position: absolute;
}

.intro-base {
    background: url(../imgs/logo/intro/logo_base.png) no-repeat center center;
}

.intro-all-religions {
	background: url(../imgs/logo/intro/all_religions.png) no-repeat center center;
}

.intro-islam {
	background: url(../imgs/logo/intro/islam.png) no-repeat left center;
}

.intro-christianity {
	background: url(../imgs/logo/intro/christianity.png) no-repeat center center;
}

.intro-judaism {
	background: url(../imgs/logo/intro/judaism.png) no-repeat right center;
}

#content {
	position: relative;
}

#clock {
	position: absolute;
	top: 30px;
	right: 30px;
	display: none;
}

#logo {
	width: 228px;
	height: 172px;
	position: relative;
	display: none;
}

#base-logo {
    top: 0px; 
	left: 0px;
	position: absolute;
}

#islam-logo {
	display: none;
	position: absolute;
	top: 0px; 
	left: 0px;
}

#christianity-logo {
	display: none;
	position: absolute;
	top: 0px; 
	left: 0px;
}

#judaism-logo {
	display: none;
	position: absolute;
	right: 11px;
	top: 0px; 
}

#arrow-down {
	width: 28px;
	height: 12px;
	background: url(../imgs/arrow_down.png);
	position: fixed;
	bottom: 20px;
	display: none;
}

#page-1, #page-2, #page-3 {
    position: absolute;
    display: none;
	overflow: hidden;
}

#page-1 .title, #page-1 .subtitle, #page-1 .details {
    position: absolute;
}

#page-1 .title, #page-1 .subtitle {
    top: 155px;
}

#page-1 .title, #page-2 .title {
    left: 25%;
    color: #09705e;
    font-weight: bold;
    font-size: 40px;
}

#page-1 .details {
    width: 640px;
	left: 25%;
    top: 300px;
    font-size: 18px;
}

#page-1 .subtitle {
    width: 415px;
    right: 25%;
    color: yellow;
}

#page-2 .title, #page-2 #prayer-names-title, #page-2 #prayer-times-title, #page-2 #logo-images-title,
#page-2 #prayer-names, #page-2 #prayer-times, #page-2 .logo-images, #page-2 #page-2-logo-images {
    position: absolute;
}

#page-2 .title {
    top: 13px;
}

#page-2 #prayer-names-title, #page-2 #prayer-times-title, #page-2 #logo-images-title {
    top: 80px;
    color: yellow;
}

#page-2 #prayer-names, #page-2 #prayer-times, #page-2 .logo-images {
    top: 115px;
}

#page-2 #judaism-prayer-names, #page-2 #judaism-prayer-times {
    margin-top: 50px;
}

#page-2 #christianity-prayer-names, #page-2 #christianity-prayer-times {
	margin-top: 110px;
}

#page-2 #islam-image {
    margin-top: 15px;
}

#page-2 #judaism-image, #page-2 #christianity-image {
    margin-top: 40px;
}

#page-2 #prayer-names-title, #page-2 #prayer-names {
    left: 25%;
}

#page-2 #prayer-times-title {
    left: 48%;
}

#page-2 #prayer-times {
    left: 49%;
}

#page-2 #logo-images-title, #page-2 #page-2-logo-images, #page-2 .logo-images {
    right: 25%;
}

#page-2 .logo-images img {
    display: block;
}

#page-3 .title {
    top: 105px;
    color: white;
}

#page-3 #page-3-title, #page-3 #page-3-logo-images {
	left: 25%;
	position: absolute;
    width: 700px;
}

#page-3 .logo-images {
    top: 230px;
}

#page-3 .logo-images img {
    display: inline-block;
    margin: 0px 10px;
}

/* Mobile portrait */
@media only screen and (max-device-width : 320px) {

}

/* Mobile landscape */
@media only screen and (min-device-width : 321px) and (max-device-width : 480px) {

}

/* Small tablet */
@media only screen and (min-device-width : 481px) and (max-device-width : 600px) {

}

/* Tablet portrait */
@media only screen and (min-device-width : 601px) and (max-device-width : 768px) {
	
}

/* Tablet landscape or Netbook */
@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {
	
}

/* Desktop */
@media only screen and (min-device-width : 1025px) and (max-device-width : 1280px) {
	
}

/* Small tablet */
@media only screen and (max-device-width : 1281px) {
	
}